{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Напоминалки</title>
        <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    </head>
    <body>
        <h1>Добро пожаловать в Напоминалки</h1>
        <h3>Чтобы создать или посмотреть свои напоминалки войдите в свой аккаунт</h3>
        <ul>
            {% if is_authenticated %}
                <li><a href="./profile">Профиль</a></li>
                <li><a href="./out">Выйти</a></li>
            {% else %}
                <li><a href="./sign_in">Войти</a></li>
                <li><a href="./register">Регистрация</a></li>
            {% endif %}
        </ul>
    </body>
</html>

