{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Напоминалки</title>
        <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    </head>
    <body>
        <h1>Добро пожаловать в Напоминалки</h1>
        <h3>Чтобы создать или посмотреть свои напоминалки войдите в свой аккаунт</h3>
        <ul>
            <li><a href="./sign_in">Войти</a></li>
            <li><a href="./register">Регистрация</a></li>
        </ul>
        <a href="./profile">Профиль</a>
    </body>
</html>

